:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-VariableFont_wght.ttf');
    font-style: normal;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Rubik';
    color: #474b4f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.main-phrase-wrapper {
    margin-top: 182px;
}

.main-phrase {
    font-size: 64px;
    font-weight: bold;
}

.main-sub-phrase {
    margin-top: 25px;
    font-size: 28px;
}

.main-cta-wrapper {
    margin-top: 53px;
    display: flex;
    align-items: center;
    gap: 31px;
}

.main-cta {
    width: 309;
}

.main-bg-gradient {
    position: absolute;
    top: 0;
    left: 609px;
    width: 1802px;
    height: 1248px;
    background: radial-gradient(ellipse, rgba(22, 119, 255, 0.3) 0%, rgba(22, 119, 255, 0) 70%);
    z-index: -1;
}

.main-images-wrapper {
    position: relative;
    height: 630px;
    margin-top: 127px;
}

.main-images-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

@media screen and (max-width: 450px) {
    .main-phrase-wrapper {
        margin-top: 91px;
    }

    .main-phrase {
        font-size: 42px;
    }

    .main-sub-phrase {
        margin-top: 15px;
        font-size: 24px;
    }

    .main-cta {
        width: 290px;
    }

    .main-cta-wrapper {
        margin-top: 53px;
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }

    .main-bg-gradient {
        display: none;
    }

    .main-images-wrapper {
        position: relative;
        height: 630px;
        margin-top: 63px;
    }

    .main-images-1 {
        right: -10%;
        left: auto;
    }
}
